body {
  padding: 50px;
  overflow: hidden;
  background-image: url('полка_книжек2.jpeg'); /* Путь к вашей картинке */
  background-size: cover; /* Масштабирует изображение, чтобы оно полностью покрывало фон */
  background-repeat: no-repeat; /* Отключает повторение изображения */
  margin: 0;
}

li {
  list-style-type: none; /* Убираем стандартные маркеры */
  position: relative; /* Позиционируем относительно */
  font-size: 24px; /* Размер шрифта */
}

li.yes {
  list-style-type: disc;
  font-size: 32px;
  color: rgb(144, 238, 144);
}

li.no {
  list-style-type: disc;
  font-size: 32px;
  color: rgb(255, 76, 91);
}

li.desc_yes::before {
  content: '•'; /* Устанавливаем контент точки */
  color: lightgreen;
  font-size: inherit; /* Наследуем размер шрифта от родительского элемента */
  margin-right: 5px;
}

li.desc_no::before {
  content: '•'; /* Устанавливаем контент точки */
  color: rgb(255, 76, 91);
  font-size: inherit; /* Наследуем размер шрифта от родительского элемента */
  margin-right: 5px;
}

h1 {
  font-size: 64px;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 32px;
  margin-right: 32px;
  color: rgba(250, 250, 250, 0.4);
}

h1 a {
    text-decoration: none;
    color: rgba(250, 250, 250, 0.6);
}

h1 a:hover {
    color: rgba(255, 76, 91, 0.6);
    font-size: 76px;
}

h1.SQL a:hover {
    color: rgba(144, 238, 144, 0.6);
    font-size: 76px;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

p.subtitle {
    font-size: 35px;
}

p {
    text-align: left;
    font-size: 24px;
    margin: 20px;
}

.container {
  display: flex; /* используем флексбокс для создания двух колонок */
  height: 512px;
}

.left-column {
  font-family: 'Courier New', Courier, monospace;
  background-image: url('синия_доска.jpg');
  background-size: cover; /* Масштабирует изображение, чтобы оно полностью покрывало фон */
  background-repeat: no-repeat; /* Отключает повторение изображения */
  flex: 0 0 228px; /* фиксированный размер ширины для левой колонки */
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.8);
}

.right-column {
  font-style: italic;
  color: #2b2b2b;
  text-shadow: 2px 2px 0px rgba(100,10,100,0.2);
  background-image: url('полая_страница1.jpeg');
  background-size: cover; /* Масштабирует изображение, чтобы оно полностью покрывало фон */
  background-repeat: no-repeat; /* Отключает повторение изображения */
  flex-grow: 1; /* правая колонка будет растягиваться на оставшееся свободное пространство */
  padding: 20px;
  border: 2px solid #000;
}


